<!--   接口：/prog/log,属性名：history_logs  -->
<h2 class="sub-header">历史进程日志</h2>
<div class="table-responsive">
    <table class="table table-striped" >
        <thead>
        <tr>
            <th>id</th>
            <th>进程号</th>
            <th>进程名称</th>
            <th>进程路径</th>
            <th>系统/人工</th>
            <th>更新时间</th>
            <th>参考日志</th>
        </tr>
        </thead>
        <hr>
        <tbody>
        <tr th:each="hlog:${history_logs}">
            <td th:text="${hlog.id}"></td>
            <td th:text="${hlog.pid}">进程号</td>
            <td th:text="${hlog.pname}">进程名称</td>
            <td th:text="${hlog.status}">状态</td>
            <td th:text="${hlog.type}">人工/系统</td>
            <td th:text="${hlog.pmtUpdate}">更新时间</td>
            <td th:text="${hlog.log}">备查日志</td>
        </tr>
        </tbody>
    </table>

</div>