<h2 class="sub-header">正在运行的进程程序状态</h2>
<div class="table-responsive">
    <!--                /proc/list_all监控所有进程-->
    <table class="table table-striped" >
        <thead>
        <tr>
            <th>id</th>
            <th>进程号</th>
            <th>进程名称</th>
            <th>进程路径</th>
            <th>状态</th>
            <th>是否守护进程</th>
            <th>删除标记</th>
            <th>创建时间</th>
            <th>更新时间</th>
            <th>start</th>
            <th>stop</th>
            <th>restart</th>
        </tr>
        </thead>
        <hr>
        <tbody>
        <tr th:each="proc:${process}">
            <td th:text="${proc.id}"></td>
            <td th:text="${proc.pid}">进程号</td>
            <td th:text="${proc.pname}">进程名称</td>
            <td th:text="${proc.fpath}">进程路径</td>
            <td th:text="${proc.status}">状态</td>
            <td th:text="${proc.daemon}">是否守护进程</td>
            <td th:text="${proc.deleted}">日否存在</td>
            <td th:text="${proc.pmtCreate}">创建时间</td>
            <td th:text="${proc.pmtUpdate}">更新时间</td>
            <td><a  th:href="@{/proc/deleteOne(${proc.id})}">启动</a></td>
            <td><a  th:href="@{/proc/deleteOne(${proc.id})}">停止</a></td>
            <td><a  th:href="@{/proc/deleteOne(${proc.id})}">重启</a></td>

        </tr>
        </tbody>
    </table>

</div>
</div>