<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Signin Template for Bootstrap</title>
    <!-- @{}的形式是链接资源文件或者访问某个请求路径 -->
    <link href="asserts/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.css}" rel="stylesheet">
    <link href="asserts/css/signin.css" th:href="@{/asserts/css/signin.css}" rel="stylesheet">
</head>

<body class="text-center">
<!--此处要写成method="POST"，不能写成th:method="POST"-->
    <form class="form-signin" action="dashboard.html" th:action="@{/user/login}" method="POST">
        <h2 class="form-signin-heading center-block" >登录页面</h2>
        <label for="inputMobile" class="sr-only">输入手机号码</label>
        <input type="text" id="inputMobile" class="form-control" placeholder="请输入用户名" required="" autofocus="">
        <label for="inputPassword" class="sr-only">输入密码</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
        <div class="checkbox">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit" onclick="">登 录</button>
    </form>
    <button class="btn btn-lg btn-primary btn-block" type="submit" onclick="">注 册</button>

</body>

</html>