<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>聚宝科技-服务器程序页面</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="dashboard.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">服务器与程序</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">服务器信息</a></li>
                <li><a href="#">程序列表</a></li>
                <li><a href="#">程序日志</a></li>
                <li><a href="#">帮助</a></li>
            </ul>
            <form class="navbar-form navbar-right">
                <input type="text" class="form-control" placeholder="Search...">
            </form>
        </div>
    </div>
</nav>

<!--====================================================================================================================-->
<div class="container-fluid"><!--container-fluid-->

    <div class="row color-rect-pane"><!--div row-->
        <div class="col-sm-3 col-md-2 sidebar left-container" >
            <ul class="nav nav-sidebar">
                <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
                <li><a href="#">选择服务器</a></li>
                <li><a href="#">增加服务器</a></li>
                <li><a href="#">修改服务器</a></li>
            </ul>
            <ul class="nav nav-sidebar">
                <li><a href="">进程管理</a></li>
                <li><a href="">进程状态</a></li>
                <li><a href="">进程日志</a></li>
            </ul>
            <ul class="nav nav-sidebar">
                <li><a href="">用户管理</a></li>
                <li><a href="">添加用户</a></li>
                <li><a href="">删除用户</a></li>
            </ul>
        </div>
<!--        <div class="col-sm-10" >-->
<!--&lt;!&ndash;            <div class="column" th:include="fragment_process_table.html"></div>&ndash;&gt;-->
<!--        </div>&lt;!&ndash;column&ndash;&gt;-->
        <hr>
        <div class="column" th:include="fragment_table_log_history"></div><!--column-->

    </div><!--div row-->

</div><!--container-fluid-->

<div class="input-group">
    <span class="input-group-addon" id="basic-addon1"> <span class="glyphicon glyphicon-save-file" aria-hidden="true"></span></span>
    <input type="text" class="form-control" placeholder="输入jar包全名称(举例):xx.jar" aria-describedby="basic-addon1">
</div>
<div class="input-group">
    <span class="input-group-addon" id="basic-addon2"> <span class="glyphicon glyphicon-ruble" aria-hidden="true"></span></span>
    <input type="text" class="form-control" placeholder="进程路径（默认）:/usr/local/mybash/" aria-describedby="basic-addon1">
</div>
<div class="input-group">
    <span class="input-group-addon" id="basic-addon3"> <span class="glyphicon glyphicon-bell" aria-hidden="true"></span></span>
    <input type="text" class="form-control" placeholder="是否守护进程" aria-describedby="basic-addon1">
</div>

<div class="col-lg-6">
    <div class="input-group">
      <span class="input-group-addon">
        <input type="radio" aria-label="...">
      </span>
        <input type="text" class="form-control" aria-label="...">
    </div><!-- /input-group -->
</div><!-- /.col-lg-6 -->


<!--===============================================================================================================-->
<div>
    <h2 class="sub-header">系统参数修改</h2>
    <div class="table-responsive">
        <!--                /proc/list_all监控所有进程-->
        <table class="table table-striped" >
            <thead>
            <tr>
                <th>扫描间隔</th>
                <th>日志留存时间</th>
                <th>是否激活</th>
                <th>服务器ip</th>
                <th>提醒联系人</th>
                <th>更新时间</th>
            </tr>
            </thead>
            <hr>
            <tbody>
            <tr th:each="params:${sys_params}">
                <td th:text="${sys_params.scanDelay}">扫描间隔</td>
                <td th:text="${sys_params.keepLogTime}">保留日志时间长，单位小时</td>
                <td th:text="${sys_params.isActive}">是否激活</td>
                <td th:text="${sys_params.ips}">服务器ip</td>
                <td th:text="${sys_params.contact}">提醒联系人</td>
                <td th:text="${sys_params.pmtUpdate}">更新时间</td>
            </tr>
            </tbody>
        </table>
    </div>

</div>

系统参数修改测试部分

<div>

    ams(Integer scanDelay,Integer keepLogTime,String contact,Model model){
    <form class="form-signin">
        <h2 class="form-signin-heading center-block" >系统参数修改</h2>
        <label for="scanDelay" class="sr-only">扫描等待时间</label>
        <input type="text" id="scanDelay" class="form-control" placeholder="输入等待扫描时间（单位秒）" required="" autofocus="">
        <label for="inputMobile" class="sr-only">日志保留时间</label>
        <input type="text" id="inputMobile" class="form-control" placeholder="请输入用户名" required="" autofocus="">
        <label for="inputPassword" class="sr-only">输入密码</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
        <div class="checkbox">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit" onclick="">登 录</button>
    </form>

</div>

<!--===============================================================================================================-->
服务器消息监听
<input  id="text" type="text" />
<button onclick="send()">SEND MESSAGE</button>
<button onclick="closeWebSocket()">CLOSE</button>
<div id="message"></div>

<div class="footer navbar-fixed-bottom center-block">
    <br>
    <hr><hr><br>
    大庆聚宝科技有限公司
    <br><br><br>

    <footer th:fragment="~{templates/fragment_realy_process_table.html}"></footer>
    <footer th:fragment="~{templates/fragment_process_table.html}"></footer>
</div>
<!-- Bootstrap core JavaScript-->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- Just to make our placeholder images work. Don't actually copy the next line! -->
<script src="../../assets/js/vendor/holder.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>


</body>

<script type="text/javascript">
    var websocket = null;

    //判断当前浏览器是否支持WebSocket
    if('WebSocket' in window){
        //连接WebSocket节点
        websocket = new WebSocket("ws://localhost:8077/productWebSocket/001");
    }
    else{
        alert('Not support websocket')
    }

    //连接发生错误的回调方法
    websocket.onerror = function(){
        setMessageInnerHTML("error");
    };

    //连接成功建立的回调方法
    websocket.onopen = function(event){
        setMessageInnerHTML("open");
    }

    //接收到消息的回调方法
    websocket.onmessage = function(event){
        setMessageInnerHTML(event.data);
    }


    //连接关闭的回调方法
    websocket.onclose = function(){
        setMessageInnerHTML("close");
    }

    //监听窗口关闭事件，当窗口关闭时，主动去关闭websocket连接，防止连接还没断开就关闭窗口，server端会抛异常。
    window.onbeforeunload = function(){
        websocket.close();
    }

    //将消息显示在网页上
    function setMessageInnerHTML(innerHTML){
        document.getElementById('message').innerHTML += innerHTML + '<br/>';
    }

    //关闭连接
    function closeWebSocket(){websocket.close();
    }

    //发送消息
    function send(){
        var message = document.getElementById('text').value;
        websocket.send(message);
    }
</script>

</html>