<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>聚宝科技-服务器程序页面</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="dashboard.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style>
        .style_page1{
            padding-top: 150px;
        }
        .style_page2{
            padding-top: 30px;
        }
    </style>
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="110">
<!--        ==================================================          -->

<div class="container">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <h1>
                大庆聚宝科技有限公司
            </h1>

            <div class="collapse navbar-collapse js-navbar-scrollspy" id="custScrollspy">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">聚宝科技</a>
                </div>
                <ul class="nav navbar-nav" id="mytab">
                    <li class="active">

                        <a href="#"><span class="glyphicon glyphicon-equalizer"/>参数设置</a>
                    </li>
                    <li>
                        <a href="#"><span class="glyphicon glyphicon-indent-left"/>历史记录</a><!--程序消息，错误消息-->
                    </li>
                </ul>

                <form class="navbar-form navbar-left" role="form">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="搜索">
                    </div>
                    <button type="submit" class="btn btn-info"><span class="glyphicon glyphicon-search"/>搜索</button>
                </form>

                <ul class="nav navbar-nav navbar-right">

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">错误消息<span class="badge badge-warning" id="error_msg">30</span><span class="caret"></span></a>

                        <ul class="dropdown-menu label-info" role="menu">
                            <li>
                                <a href="#">关闭消息</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a th:href="@{#}">开启消息</a>
                            </li>
                            <li>
                                <a th:href="@{#}">查看消息</a>
                            </li>
                        </ul>

                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">我的<span class="caret"></span></a>
                        <ul class="dropdown-menu label-info" role="menu">
                            <li>
                                <a href="#">系统设置</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a th:href="@{/user/login}">登录</a>
                            </li>
                            <li>
                                <a th:href="@{/user/logout}">退出</a>
                            </li>
                        </ul>
                    </li>
                </ul>

            </div>
        </div>
    </nav>

    <div class="row ">
        <div class="col-sm-8 col-sm-offset-2">
            <div class="style_page1">

                <div th:if="${process != null}" >
<!--                    xx-->
                    <h2 class="text-center">进程文件管理</h2>
                    <div class="table-responsive">
                        <table class="table table-striped" >
                            <thead>
                            <tr>
                                <th>id</th>
                                <th>进程号</th>
                                <th>进程名称</th>
                                <th>进程路径</th>
                                <th>状态</th>
                                <th>是否守护进程</th>
                                <th>删除标记</th>
                                <th>创建时间</th>
                                <th>更新时间</th>
                                <th>delete</th>
                                <th>modify</th>
                            </tr>
                            </thead>
                            <hr>
                            <tbody>
                            <tr th:each="proc:${process}">
                                <td th:text="${proc.id}"></td>
                                <td th:text="${proc.pid}">进程号</td>
                                <td th:text="${proc.pname}">进程名称</td>
                                <td th:text="${proc.fpath}">进程路径</td>
                                <td th:text="${proc.status}">状态</td>
                                <td th:text="${proc.daemon}">是否守护进程</td>
                                <td th:text="${proc.deleted}">日否存在</td>
                                <td th:text="${proc.pmtCreate}">创建时间</td>
                                <td th:text="${proc.pmtUpdate}">更新时间</td>
                                <td><a th:href="@{/proc/del_one(id=${proc.id})}">删除</a></td>
                                <td><a th:href="@{/proc/mod_one(id=${proc.id})}">修改</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
<!--                   yy-->
                </div>
            </div>


        </div>

        <div class="row ">
            <div class="col-sm-8 col-sm-offset-2">
                <button class="btn btn-lg btn-primary btn-block " onclick="location.href='/params/modify'">
                    <span class="glyphicon glyphicon-warning-sign"/>新增文件
                </button>
            </div>
        </div>

        <hr>
        <div class="row ">
            <div class="col-sm-2 col-sm-offset-8">

            </div>
        </div>


    </div>


    <div class="footer panel-footer navbar-fixed-bottom">
        <h3 class="text-center">大庆聚宝科技有限公司</h3>
        <h4 class="text-center">www.jubaoapp.com</h4>


    </div>

    <!--        ==================================================          -->
    <!--服务器消息-->
    <!--<input  id="text" type="text" />-->
    <!--<button onclick="send()">SEND MESSAGE</button>-->
    <!--<button onclick="closeWebSocket()">CLOSE</button>-->
    <!--<button onclick="openWebSocket()">开启</button>-->
    <!--<div id="message"></div>-->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="../../assets/js/vendor/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
    <!--        ==================================================          -->



</body>

<script>
    //可选中状态导航栏
    $("#mytab a").click(function(e){
        e.preventDefault();
        $(this).tab("show");
    });
</script>

<script type="text/javascript">
    var websocket = null;
    var err_count =0;
    var info_count =0;

    function openWebSocket(){
        //判断当前浏览器是否支持WebSocket
        if('WebSocket' in window){
            //连接WebSocket节点
            websocket = new WebSocket("ws://localhost:8077/sys_msg/Super");
        }
        else{
            alert('当前浏览器无法接收到服务器消息，建议更换浏览器！！')
        }
        //连接发生错误的回调方法
        websocket.onerror = function(){
            setMessageInnerHTML("error");
        };
        //连接成功建立的回调方法
        websocket.onopen = function(event){
            setMessageInnerHTML("open");}

        //接收到消息的回调方法
        websocket.onmessage = function(event){
            setMessageInnerHTML(event.data);}

        //连接关闭的回调方法
        websocket.onclose = function(){
            setMessageInnerHTML("close");}
        //监听窗口关闭事件，当窗口关闭时，主动去关闭websocket连接，防止连接还没断开就关闭窗口，server端会抛异常。
        window.onbeforeunload = function(){websocket.close();}

        //将消息显示在网页上
        function setMessageInnerHTML(innerHTML){
            document.getElementById('message').innerHTML += innerHTML + '<br/>';
        }
    }
    //判断当前浏览器是否支持WebSocket
    if('WebSocket' in window){
        //连接WebSocket节点
        websocket = new WebSocket("ws://localhost:8077/sys_msg/Super");
    }
    else{
        alert('当前浏览器无法接收到服务器消息，建议更换浏览器！！')
    }
    //连接发生错误的回调方法
    websocket.onerror = function(){
        setMessageInnerHTML("error");
    };
    //连接成功建立的回调方法
    websocket.onopen = function(event){
        setMessageInnerHTML("open");}

    //接收到消息的回调方法
    websocket.onmessage = function(event){
        setMessageInnerHTML(event.data);}

    //连接关闭的回调方法
    websocket.onclose = function(){
        setMessageInnerHTML("close");}
    //监听窗口关闭事件，当窗口关闭时，主动去关闭websocket连接，防止连接还没断开就关闭窗口，server端会抛异常。
    window.onbeforeunload = function(){websocket.close();}

    //将消息显示在网页上
    function setMessageInnerHTML(innerHTML){
        info_count++;
        err_count++;
        document.getElementById('message').innerHTML += innerHTML + '<br/>';
        document.getElementById('error_msg').innerHTML = err_count;
    }
    //关闭连接
    function closeWebSocket(){websocket.close();}

    //发送消息
    function send(){var message = document.getElementById('text').value;
        websocket.send(message);}


</script>
</html>