<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecs.monitor.dao.Proj1ParamsMapper">
  <resultMap id="BaseResultMap" type="com.ecs.monitor.bean.Proj1Params">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="scan_delay" jdbcType="INTEGER" property="scanDelay" />
    <result column="keep_log_time" jdbcType="INTEGER" property="keepLogTime" />
    <result column="is_active" jdbcType="INTEGER" property="isActive" />
    <result column="ips" jdbcType="VARCHAR" property="ips" />
    <result column="contact" jdbcType="VARCHAR" property="contact" />
    <result column="pmt_update" jdbcType="TIMESTAMP" property="pmtUpdate" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, scan_delay, keep_log_time, is_active, ips, contact, pmt_update
  </sql>
  <select id="selectByExample" parameterType="com.ecs.monitor.bean.Proj1ParamsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from proj1_params
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from proj1_params
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from proj1_params
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.ecs.monitor.bean.Proj1ParamsExample">
    delete from proj1_params
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ecs.monitor.bean.Proj1Params">
    insert into proj1_params (id, scan_delay, keep_log_time, 
      is_active, ips, contact, 
      pmt_update)
    values (#{id,jdbcType=INTEGER}, #{scanDelay,jdbcType=INTEGER}, #{keepLogTime,jdbcType=INTEGER}, 
      #{isActive,jdbcType=INTEGER}, #{ips,jdbcType=VARCHAR}, #{contact,jdbcType=VARCHAR}, 
      #{pmtUpdate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.ecs.monitor.bean.Proj1Params">
    insert into proj1_params
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="scanDelay != null">
        scan_delay,
      </if>
      <if test="keepLogTime != null">
        keep_log_time,
      </if>
      <if test="isActive != null">
        is_active,
      </if>
      <if test="ips != null">
        ips,
      </if>
      <if test="contact != null">
        contact,
      </if>
      <if test="pmtUpdate != null">
        pmt_update,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="scanDelay != null">
        #{scanDelay,jdbcType=INTEGER},
      </if>
      <if test="keepLogTime != null">
        #{keepLogTime,jdbcType=INTEGER},
      </if>
      <if test="isActive != null">
        #{isActive,jdbcType=INTEGER},
      </if>
      <if test="ips != null">
        #{ips,jdbcType=VARCHAR},
      </if>
      <if test="contact != null">
        #{contact,jdbcType=VARCHAR},
      </if>
      <if test="pmtUpdate != null">
        #{pmtUpdate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByExampleSelective" parameterType="map">
    update proj1_params
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.scanDelay != null">
        scan_delay = #{record.scanDelay,jdbcType=INTEGER},
      </if>
      <if test="record.keepLogTime != null">
        keep_log_time = #{record.keepLogTime,jdbcType=INTEGER},
      </if>
      <if test="record.isActive != null">
        is_active = #{record.isActive,jdbcType=INTEGER},
      </if>
      <if test="record.ips != null">
        ips = #{record.ips,jdbcType=VARCHAR},
      </if>
      <if test="record.contact != null">
        contact = #{record.contact,jdbcType=VARCHAR},
      </if>
      <if test="record.pmtUpdate != null">
        pmt_update = #{record.pmtUpdate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update proj1_params
    set id = #{record.id,jdbcType=INTEGER},
      scan_delay = #{record.scanDelay,jdbcType=INTEGER},
      keep_log_time = #{record.keepLogTime,jdbcType=INTEGER},
      is_active = #{record.isActive,jdbcType=INTEGER},
      ips = #{record.ips,jdbcType=VARCHAR},
      contact = #{record.contact,jdbcType=VARCHAR},
      pmt_update = #{record.pmtUpdate,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ecs.monitor.bean.Proj1Params">
    update proj1_params
    <set>
      <if test="scanDelay != null">
        scan_delay = #{scanDelay,jdbcType=INTEGER},
      </if>
      <if test="keepLogTime != null">
        keep_log_time = #{keepLogTime,jdbcType=INTEGER},
      </if>
      <if test="isActive != null">
        is_active = #{isActive,jdbcType=INTEGER},
      </if>
      <if test="ips != null">
        ips = #{ips,jdbcType=VARCHAR},
      </if>
      <if test="contact != null">
        contact = #{contact,jdbcType=VARCHAR},
      </if>
      <if test="pmtUpdate != null">
        pmt_update = #{pmtUpdate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ecs.monitor.bean.Proj1Params">
    update proj1_params
    set scan_delay = #{scanDelay,jdbcType=INTEGER},
      keep_log_time = #{keepLogTime,jdbcType=INTEGER},
      is_active = #{isActive,jdbcType=INTEGER},
      ips = #{ips,jdbcType=VARCHAR},
      contact = #{contact,jdbcType=VARCHAR},
      pmt_update = #{pmtUpdate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>