<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecs.monitor.dao.Proj1ProcessMapper">
  <resultMap id="BaseResultMap" type="com.ecs.monitor.bean.Proj1Process">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="pid" jdbcType="INTEGER" property="pid" />
    <result column="pname" jdbcType="CHAR" property="pname" />
    <result column="fpath" jdbcType="CHAR" property="fpath" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="daemon" jdbcType="INTEGER" property="daemon" />
    <result column="version" jdbcType="INTEGER" property="version" />
    <result column="deleted" jdbcType="INTEGER" property="deleted" />
    <result column="pmt_create" jdbcType="TIMESTAMP" property="pmtCreate" />
    <result column="pmt_update" jdbcType="TIMESTAMP" property="pmtUpdate" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, pid, pname, fpath, status, daemon, version, deleted, pmt_create, pmt_update
  </sql>
  <select id="selectByExample" parameterType="com.ecs.monitor.bean.Proj1ProcessExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from proj1_process
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from proj1_process
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from proj1_process
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.ecs.monitor.bean.Proj1ProcessExample">
    delete from proj1_process
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ecs.monitor.bean.Proj1Process">
    insert into proj1_process (id, pid, pname, 
      fpath, status, daemon, 
      version, deleted, pmt_create, 
      pmt_update)
    values (#{id,jdbcType=INTEGER}, #{pid,jdbcType=INTEGER}, #{pname,jdbcType=CHAR}, 
      #{fpath,jdbcType=CHAR}, #{status,jdbcType=INTEGER}, #{daemon,jdbcType=INTEGER}, 
      #{version,jdbcType=INTEGER}, #{deleted,jdbcType=INTEGER}, #{pmtCreate,jdbcType=TIMESTAMP}, 
      #{pmtUpdate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.ecs.monitor.bean.Proj1Process">
    insert into proj1_process
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="pid != null">
        pid,
      </if>
      <if test="pname != null">
        pname,
      </if>
      <if test="fpath != null">
        fpath,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="daemon != null">
        daemon,
      </if>
      <if test="version != null">
        version,
      </if>
      <if test="deleted != null">
        deleted,
      </if>
      <if test="pmtCreate != null">
        pmt_create,
      </if>
      <if test="pmtUpdate != null">
        pmt_update,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="pid != null">
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="pname != null">
        #{pname,jdbcType=CHAR},
      </if>
      <if test="fpath != null">
        #{fpath,jdbcType=CHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="daemon != null">
        #{daemon,jdbcType=INTEGER},
      </if>
      <if test="version != null">
        #{version,jdbcType=INTEGER},
      </if>
      <if test="deleted != null">
        #{deleted,jdbcType=INTEGER},
      </if>
      <if test="pmtCreate != null">
        #{pmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="pmtUpdate != null">
        #{pmtUpdate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByExampleSelective" parameterType="map">
    update proj1_process
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.pid != null">
        pid = #{record.pid,jdbcType=INTEGER},
      </if>
      <if test="record.pname != null">
        pname = #{record.pname,jdbcType=CHAR},
      </if>
      <if test="record.fpath != null">
        fpath = #{record.fpath,jdbcType=CHAR},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.daemon != null">
        daemon = #{record.daemon,jdbcType=INTEGER},
      </if>
      <if test="record.version != null">
        version = #{record.version,jdbcType=INTEGER},
      </if>
      <if test="record.deleted != null">
        deleted = #{record.deleted,jdbcType=INTEGER},
      </if>
      <if test="record.pmtCreate != null">
        pmt_create = #{record.pmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.pmtUpdate != null">
        pmt_update = #{record.pmtUpdate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update proj1_process
    set id = #{record.id,jdbcType=INTEGER},
      pid = #{record.pid,jdbcType=INTEGER},
      pname = #{record.pname,jdbcType=CHAR},
      fpath = #{record.fpath,jdbcType=CHAR},
      status = #{record.status,jdbcType=INTEGER},
      daemon = #{record.daemon,jdbcType=INTEGER},
      version = #{record.version,jdbcType=INTEGER},
      deleted = #{record.deleted,jdbcType=INTEGER},
      pmt_create = #{record.pmtCreate,jdbcType=TIMESTAMP},
      pmt_update = #{record.pmtUpdate,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ecs.monitor.bean.Proj1Process">
    update proj1_process
    <set>
      <if test="pid != null">
        pid = #{pid,jdbcType=INTEGER},
      </if>
      <if test="pname != null">
        pname = #{pname,jdbcType=CHAR},
      </if>
      <if test="fpath != null">
        fpath = #{fpath,jdbcType=CHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="daemon != null">
        daemon = #{daemon,jdbcType=INTEGER},
      </if>
      <if test="version != null">
        version = #{version,jdbcType=INTEGER},
      </if>
      <if test="deleted != null">
        deleted = #{deleted,jdbcType=INTEGER},
      </if>
      <if test="pmtCreate != null">
        pmt_create = #{pmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="pmtUpdate != null">
        pmt_update = #{pmtUpdate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ecs.monitor.bean.Proj1Process">
    update proj1_process
    set pid = #{pid,jdbcType=INTEGER},
      pname = #{pname,jdbcType=CHAR},
      fpath = #{fpath,jdbcType=CHAR},
      status = #{status,jdbcType=INTEGER},
      daemon = #{daemon,jdbcType=INTEGER},
      version = #{version,jdbcType=INTEGER},
      deleted = #{deleted,jdbcType=INTEGER},
      pmt_create = #{pmtCreate,jdbcType=TIMESTAMP},
      pmt_update = #{pmtUpdate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>